/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {

  &:before, &:after {
    content: '';
    content: none;
  }
}

q {

  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$icon-font-path: '../fonts/';
@font-face {
    font-family: 'Palanquin';
    src: url(/fonts/Palanquin-Regular.ttf);
}

$color-white: white;
$color-gray: #b3b3b3;
$color-accent: #F6A623;

$scene-height: 600px;
$scene-height-mobile: 400px;

$z-index-scene: -1;
$z-index-background: -1;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: black;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

form {
  color: black;

  input,
  textarea {
    margin: 0.3rem 0.3rem 0.3rem 0;
    font-size: .8em;
    border: 1px solid $color-white;
    background: #fff;
    padding: .9em;
    transition: all .3s ease-in-out;
    width: 100%;

    &:focus {
      border-color: $color-accent;
      outline: none;
      box-shadow: 0 0 5px 1px $color-accent;
    }
  }

  button {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid $color-white;
    color: $color-white;
    background: transparent;
    line-height: 1em;
    padding: .6em .9em;
    transition: all .3s ease-in-out;

    &:hover {
      border-color: $color-accent;
      color: $color-accent;
    }
  }
}

#donation-form {
  max-width: 200px;

  input[type="image"] {
    border: none;
    background-color: transparent;
  }
}

#noscript {
  width: 100%;
  height: 100%;
  text-align: center;
  top: 20%;
  position: fixed;
  color: white;
}

#loading {
  width: 100%;
  height: 100%;
  text-align: center;
  top: 50%;
  position: fixed;
  font-size: 3em;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
}

#background-top {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-background;

  .background {
    margin: auto;
    width: 100%;
    height: 1000px;
  }

  .gradient-mask {
    content: " ";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(top center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 70%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  }
}

#background-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: $z-index-background;

  .background {
    margin: auto;
    width: 100%;
    height: 400px;
  }

  .gradient-mask {
    content: " ";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(bottom center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 70%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  }
}

a {
  color: $color-white;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: $color-accent;
  }
}

ul {
  padding-left: 20px;
}

#wrapper {
  position: relative;
}

.container {
  position: relative;
}

#logo {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  color: $color-white;
  font-family: 'Palanquin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.3em;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  #logo-charmonium {
    display: inline-block;
    font-size: 3em;
    text-transform: uppercase;
    border-bottom: 2px solid $color-white;
  }

  #logo-band {
    display: block;
    font-size: 1.6em;
  }
}

#menu {
  padding: 0;
  position: absolute;
  top: 4.6em;
  text-align: left;

  li {
    font-size: 1.4em;
    display: inline;
    margin-right: 1.5em;
  }
}

#scene {
  color: $color-white;
  cursor: pointer;
  font-size: 3em;
  text-align: center;
  z-index: $z-index-scene;
  width: 100%;
  height: $scene-height;

  #fullscreen-info {
    font-size: 1em;
    top: 2rem;
    right: 2rem;
    position: absolute;
    color: $color-white;
    margin: auto;
    opacity: 0;
  }

  #canvas {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    height: $scene-height-mobile;
    margin-top: 100px;
  }

  span {
    position: relative;
    top: 50%;
  }
}

.col-sm-6-float {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        float: left !important;
    }
}


#content {
  color: $color-white;
  margin-bottom: 10em;

  h1 {
    font-family: 'Palanquin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
  }

  h2 {
      font-size: 1.6em;
  }

  #player-container {
     max-width: 400px;

     @media screen and (max-width: 767px) {
        max-width: 300px;
     }

     #player {
         width: 100%;
     }

     #track-art {
         border: 1px solid $color-white;
         width: 100%;
     }
  }

  #music-content {

    ol {
      display: block;
      border-left: 2px solid $color-white;
      padding-left: 1em;

      &.current {
          border-color: $color-accent;
      }

      li {
        font-size: 1.2em;
        cursor: pointer;
        text-decoration: underline;
        padding-left: 0px;

        &:hover {
            color: $color-accent;
        }

        &.current {
            color: $color-accent;
        }
      }
    }
  }
}

#footer {
  padding: 1rem;
  color: $color-white;
}

/* Responsive: Desktop HD */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

#controls {
  padding: 2em;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;

  label {
    color: $color-white;
    display: block;
    white-space: nowrap;
    width: 400px;
    margin-bottom: 0.3em;
  }

  input {
    width: 100%;
  }
}
