$icon-font-path: '../fonts/';
@font-face {
    font-family: 'Palanquin';
    src: url(/fonts/Palanquin-Regular.ttf);
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$color-white: white;
$color-accent: #F6A623;

$scene-height: 600px;
$scene-height-mobile: 400px;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}

/* Space out content a bit */
body {
  background-color: black;
}

#background-top {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;

  .background {
    margin: auto;
    max-width: 1500px;
    width: 100%;
    height: 1000px;
    background-image: url(/images/stars.png);
  }

  .gradient-mask {
    content: " ";
    width: 100%;
    height: 100%;
    background: radial-gradient(top center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 70%);
  }
}

#background-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -2;

  .background {
    margin: auto;
    max-width: 1500px;
    width: 100%;
    height: 400px;
    background-image: url(/images/stars.png);
    background-size: 100%;
  }

  .gradient-mask {
    content: " ";
    width: 100%;
    height: 100%;
    background: radial-gradient(bottom center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 70%);
  }
}

a {
  color: $color-white;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: $color-accent;
  }
}

ul {
  padding-left: 20px;
}

.wrapper {
  position: relative;
}

.container {
  position: relative;
}

#logo {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  color: $color-white;
  font-family: 'Palanquin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.3em;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  #logo-charmonium {
    display: inline-block;
    font-size: 3em;
    text-transform: uppercase;
    border-bottom: 2px solid $color-white;
  }

  #logo-band {
    display: block;
    font-size: 1.6em;
  }
}

#menu {
  padding: 0;
  position: absolute;
  top: 4.6em;
  text-align: left;

  li {
    font-size: 1.4em;
    display: inline;
    margin-right: 1.5em;
  }
}

#scene {
  color: $color-white;
  cursor: pointer;
  font-size: 3em;
  text-align: center;
  z-index: -1;
  width: 100%;
  height: $scene-height;

  #fullscreen-info {
    font-size: 1em;
    top: 2rem;
    right: 2rem;
    position: absolute;
    color: $color-white;
    margin: auto;
    opacity: 0;
  }

  #canvas {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    height: $scene-height-mobile;
    margin-top: 100px;
  }

  span {
    position: relative;
    top: 50%;
  }
}

.col-sm-6-float {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        float: left !important;
    }
}


#content {
  color: $color-white;
  margin-bottom: 10em;

  h1 {
    font-family: 'Palanquin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
  }

  h2 {
      font-size: 1.6em;
  }

  #player-container {
     max-width: 400px;

     @media screen and (max-width: 767px) {
        max-width: 300px;
     }

     #player {
         width: 100%;
     }

     #track-art {
         border: 1px solid $color-white;
         width: 100%;
     }
  }

  #music-content {

    ol {
      display: block;
      border-left: 2px solid $color-white;
      padding-left: 2em;

      &.current {
          border-color: $color-accent;
      }

      li {
        font-size: 1.2em;
        cursor: pointer;
        text-decoration: underline;
        padding-left: 0px;

        &:hover {
            color: $color-accent;
        }

        &.current {
            color: $color-accent;
        }
      }
    }
  }
}

/* Responsive: Desktop HD */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

#controls {
  padding: 2em;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;

  label {
    color: $color-white;
    display: block;
    white-space: nowrap;
    width: 400px;
    margin-bottom: 0.3em;
  }

  input {
    width: 100%;
  }
}
